<html>
<head>

    <title>test</title>




    <style type="text/css">
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }
    </style>



</head>

<body>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @*<script src="~/Scripts/ServiceWorkerWebSocketNotification.js"></script>*@


    <script>


        $(function() {

            var tryingToReconnect = false;
            $.connection.hub.disconnected(function () {
                //TODO: write the logic to reconnect to server.
                if(!tryingToReconnect) {
                    // notifyclient about disconnection
                    setTimeout(function() {
                        $.connection.hub.start();
                    }, 5000); // Restart connection after 5 seconds.
                }
            });
            $.connection.hub.reconnecting(function() {
                tryingToReconnect = true;
                console.log("reconnecting...");
            });
            $.connection.hub.reconnected(function() {
                tryingToReconnect = false;
                console.log("Reconnected");
            });




            $.connection.newsHub.client.addNewMessageToPage = function(link, message) {
                var t = new Notification(link, { body: message });
            };


            $.connection.hub.start().done(function() {
                alert("bağlandı");
            });


        });

  
    </script>




</body>


</html>