
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServiceWorker Caching</title>
    
    <link href="~/Styles/main.css" rel="stylesheet" />
    
    

</head>
<body>
<div>
    
    bu sayfada cache leme yapılır

</div>

   <script src="~/Scripts/ServiceWorker.js"></script>

</body>
</html>
